<div #popupinfo class="info"
     *ngIf="modValPopup.modified !== ''"
     [style.left]="popupX"
     [style.top]="popupY" [style.visibility]="popupVisibility"
     (click)="closePopup()">
  <div class="entry" *ngIf="modValPopup.modifiableValuesPos.length == 0 && modValPopup.modifiableValuesNeg.length == 0">
    keine
  </div>
  <div class="entryPos" *ngFor="let mv of modValPopup.modifiableValuesPos">
    {{mv.modifier}}: {{mv.modValue}}
  </div>
  <div class="entryNeg" *ngFor="let mv of modValPopup.modifiableValuesNeg">
    {{mv.modifier}}: {{mv.modValue}}
  </div>

</div>
