@import "../../../sass/var"

.leftBar, .rightBar
  position: fixed
  display: flex
  flex-flow: column
  justify-content: flex-start
.info
  background-position: center
  background-repeat: no-repeat
  cursor: pointer
#modInfo, #modInfoActive
  background-image: url("../../../assets/images/icons/modification_opaque.png")

// not-pc
@media (max-width: 1024px)
  .leftBar, .rightBar
    top: 30vw
    height: 10vw
    width: 5vw
  .rightBar
    margin-left: 95vw
  .info
    width: 4vw
    height: 4vw
    border: 0.25vw solid black
    border-radius: 2.5vw
    background-size: 4vw
  #modInfo
    box-shadow: 1vw 1vw 1vw #888888

// pc
@media (min-width: 1025px)
  .leftBar, .rightBar
    top: 30 * $vwCube
    height: 10 * $vwCube
  .rightBar
    margin-left: 95 * $vwCube
  .info
    width: 4 * $vwCube
    height: 4 * $vwCube
    border: 0.25 * $vwCube solid black
    border-radius: 2.5 * $vwCube
    background-size: 4 * $vwCube
  #modInfo
    box-shadow: 0.5 * $vwCube 0.75 * $vwCube 1 * $vwCube #888888
  #modInfoActive
    box-shadow: 0.5 * $vwCube 0.75 * $vwCube 1 * $vwCube #888888, inset 0 0 1.5 * $vwCube 0 $green_transp
