@import "../../../sass/var"
.background
  position: absolute
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.abstandshalter
  position: absolute
  background-color: $pergament
  z-index: -1
#body
  position: absolute
#infoBox
  background: $light
#titel
  padding-bottom: 0px
  margin-bottom: 0px
#wetterbox
  background-size: contain
  background-position: bottom
  background-repeat: no-repeat
  display: flex
  flex-flow: column
  justify-content: flex-end
#wolkenbox
  background-size: contain
  background-position: top
  background-repeat: no-repeat
#tempbox
  background-size: cover
  background-position: top
  background-repeat: no-repeat
#date, #timebox
  text-align: center
#rightBlock
  flex-wrap: wrap

#mondbox
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.attribute, .modifiable
  display: flex
  flex-flow: column
  justify-content: flex-start
  background: $light
.wert
  width: 100%
  text-align: center
  display: flex
  flex-flow: row
  justify-content: space-around
  img
    cursor: pointer

// mobile
@media (max-width: 480px), (max-height: 480px)

// mobile portrait
@media (max-width: 480px)

// mobile landscape
@media (max-height: 480px)

// tablet
@media (max-width: 1024px) and (max-height: 1024px) and (min-width: 481px) and (min-height: 481px)

// tablet portrait
@media (min-width: 481px) and (max-width: 768px) and (min-height: 481px)

// tablet landscape
@media (min-width: 769px) and (max-width: 1024px) and (min-height: 481px)

// not-pc
@media (max-width: 1024px)
  .background
    height: 30vw
    width: 100vw
    // -moz-box-shadow: inset 0 -2vw 1vw -1vw $pergament
    // -webkit-box-shadow: inset 0 -2vw 1vw -1vw $pergament
    // box-shadow: inset 0 -2vw 1vw -1vw $pergament
  .abstandshalter
    top: 30vw
    width: 100vw
    height: 5vw
  #body
    // transform: translate(0, -30vw)
    height: 30vw
    -moz-box-shadow: inset 0 -2vw 1vw -1vw $pergament
    -webkit-box-shadow: inset 0 -2vw 1vw -1vw $pergament
    box-shadow: inset 0 -2vw 1vw -1vw $pergament
  #leftBlock
    width: 30vw
  #infoBox
    margin-top: 8.25vw
    width: 25vw
    height: 18vw
    border-radius: 5vw
  #titel
    margin-top: 2.5vw
    width: 20vw
    height: 7vw
  #wetterbox, #wolkenbox
    width: 5vw
    height: 10vw
  #mondbox
    width: 2.5vw
    height: 8vw
  #tempbox
    width: 1.75vw
    height: 4vw
  #date, #timebox
    width: 15vw
    font-size: 2vw
  #rightBlock
    margin-top: 8.75vw
    width: 70vw
    height: 19vw
  .attribute, .modifiable
    height: 7.5vw
    margin-right: 1.25vw
  .attribute
    width: 7.5vw
  .modifiable
    width: 16.25vw
  .name
    font-size: 2vw
    margin-left: 0.625vw
    margin-top: 0.625vw
  .wert
    font-size: 3.5vw
    img
      width: 4vw
      height: 4vw

// pc
@media (min-width: 1025px)
  .background
    height: 30 * $vwCube
    width: 100 * $vwCube
    // -moz-box-shadow: inset 0 -2 * $vwCube  $vwCube -1 * $vwCube $pergament
    // -webkit-box-shadow: inset 0 -2 * $vwCube $vwCube -1 * $vwCube $pergament
    // box-shadow: inset 0 -2 * $vwCube $vwCube -1 * $vwCube $pergament
  .abstandshalter
    top: 30 * $vwCube
    width: 100 * $vwCube
    height: 4 * $vwCube
  #body
    height: 30 * $vwCube
    -moz-box-shadow: inset 0 -2 * $vwCube  $vwCube -1 * $vwCube $pergament
    -webkit-box-shadow: inset 0 -2 * $vwCube $vwCube -1 * $vwCube $pergament
    box-shadow: inset 0 -2 * $vwCube $vwCube -1 * $vwCube $pergament
  #leftBlock
    width: 30 * $vwCube
  #infoBox
    margin-top: 8.25 * $vwCube
    width: 25 * $vwCube
    height: 18 * $vwCube
    border-radius: 5 * $vwCube
  #titel
    margin-top: 2.5 * $vwCube
    width: 20 * $vwCube
    height: 7 * $vwCube
  #wetterbox, #wolkenbox
    width: 5 * $vwCube
    height: 10 * $vwCube
  #mondbox
    width: 2.5 * $vwCube
    height: 8 * $vwCube
  #tempbox
    width: 1.75 * $vwCube
    height: 4 * $vwCube
  #date, #timebox
    width: 15 * $vwCube
    font-size:  2 * $vwCube
  #rightBlock
    margin-top: 8.75 * $vwCube
    width: 70 * $vwCube
    height: 19 * $vwCube
  .attribute, .modifiable
    height: 7.5 * $vwCube
    margin-right: 1.25 * $vwCube
  .attribute
    width: 7.5 * $vwCube
  .modifiable
    width: 16.25 * $vwCube
  .name
    font-size: 2 * $vwCube
    margin-left: 0.625 * $vwCube
    margin-top: 0.625 * $vwCube
  .wert
    font-size: 3.5 * $vwCube
    img
      width: 4 * $vwCube
      height: 4 * $vwCube

