<!-- Background -->
<div>
  <div class="background"
       *ngIf="werte.ohnmacht"
       [style.background-image]="'url(\'assets/images/conditions/faint.png\')'">
  </div>

  <!-- (@drunkVision.done)="toogleAnimation()" => führt zu Fehlern -->
  <div class="background"
       *ngIf="!werte.ohnmacht"
       [@drunkVision]="drunkVision"
       (@drunkVision.done)="toggleDrunkVision()"
       [style.background-image]="'url(\'assets/images/biomes/' + werte.hintergrund + '.jpg\')'">
  </div>
  <div class="background"
       *ngIf="!werte.ohnmacht"
       [@doubleVision]="doubleVision"
       (@doubleVision.done)="toggleDoubleVision()"
       [style.background-image]="'url(\'assets/images/biomes/' + werte.hintergrund + '.jpg\')'">
  </div>
  <div class="background"
       *ngIf="!werte.ohnmacht"
       [style.background-image]="'url(\'assets/images/conditions/blood_edge.png\')'"
       [style.opacity]="(werte.schmerz) / 4.0">
  </div>
  <div class="background"
       *ngIf="!werte.ohnmacht"
       [style.background-image]="'url(\'assets/images/conditions/blood_vision.png\')'"
       [style.opacity]="(werte.schmerz) / 4.0">
  </div>
  <div class="background"
       *ngIf="!werte.ohnmacht"
       [style.background-image]="'url(\'assets/images/conditions/dirt.png\')'"
       [style.opacity]="(werte.schmutz) / 4.0">
  </div>
</div>
<!-- Content -->
<div class="horizontalStart" id="body">

  <!-- Info-Box on the left side -->
  <div id="leftBlock" class="horizontalCenter">
    <div class="verticalStart">
      <div id="infoBox" class="verticalStart">
        <div class="horizontalCenter">
          <h4 id="titel">{{titel}}</h4>
        </div>
        <div class="horizontalStart">
          <div id="tempbox" [style.background-image]="'url(\'assets/images/weather/' + werte.aktTemp + '.png\')'"></div>
          <div id="wetterbox" [style.background-image]="'url(\'assets/images/weather/' + werte.niederschlag + '.png\')'">
            <div id="wolkenbox" [style.background-image]="'url(\'assets/images/weather/' + werte.bewoelkung + '.png\')'"></div>
          </div>
          <div class="verticalCenter">
            <div id="date">{{datum}}</div>
            <div id="timebox">{{zeit}}</div>

          </div>
          <div id="mondbox" [style.background-image]="'url(\'assets/images/weather/mond' + werte.mond + '.png\')'"></div>
        </div>

      </div>
    </div>
  </div>

  <!-- Attributes and values on the right side -->
  <div id="rightBlock" class="horizontalStart">
    <!-- Attributes -->
    <div class="attribute" *ngFor="let pair of eigenschaften | keyvalue">
      <div class="name">{{pair.key.substring(1)}}</div>
      <div class="wert" (click)="getModifierFor($event, pair.key.substring(1))">{{pair.value}}</div>
    </div>

    <!-- current LeP -->
    <div class="modifiable">
      <div class="name">aktuelle LeP</div>
      <div class="wert">
        <img src="assets/images/menu/button_neg.png" (click)="changeWert(-1, 'LeP')">
        <div (click)="getModifierFor($event, 'LeP')">
          {{werte.aktLeP}}
        </div>
        <img src="assets/images/menu/button_pos.png" (click)="changeWert(1, 'LeP')">
      </div>
    </div>

    <!-- max LeP -->
    <div class="attribute">
      <div class="name">max LeP</div>
      <div class="wert">{{werte.maxLeP}}</div>
    </div>

    <!-- GS -->
    <div class="attribute">
      <div class="name">GS</div>
      <div class="wert" (click)="getModifierFor($event, 'GS')">{{werte.gs}}</div>
    </div>

    <!-- Trunkenheit -->
    <div class="modifiable">
      <div class="name">Trunkenheit</div>
      <div class="wert" (click)="getModifierFor($event, 'Trink-AuP')">
        <img src="assets/images/menu/button_neg.png" (click)="changeWert(-1, 'Trunkenheit')">
        {{werte.trunkenheit}}
        <img src="assets/images/menu/button_pos.png" (click)="changeWert(1, 'Trunkenheit')">
      </div>
    </div>

    <!-- Erschoepfung -->
    <div class="modifiable">
      <div class="name">Erschöpfung</div>
      <div class="wert" (click)="getModifierFor($event, 'Erschöpfung')">
        <img src="assets/images/menu/button_neg.png" (click)="changeWert(-1, 'Erschoepfung')">
        {{werte.erschoepfung}}
        <img src="assets/images/menu/button_pos.png" (click)="changeWert(1, 'Erschoepfung')">
      </div>
    </div>

  </div>
</div>
<app-mod-values [modValPopup]="modValPopup"
                (ping)="closePopup()"></app-mod-values>
<div class="abstandshalter"></div>
