<div class="horizontalStart" id="body">
  <div id="leftBlock">

  </div>
  <div id="rightBlock">
    <div class="attribute">
      <div class="name">MU</div>
      <div class="wert">{{werte.mu}}</div>
    </div>
    <div class="attribute">
      <div class="name">KL</div>
      <div class="wert">{{werte.kl}}</div>
    </div>
    <div class="attribute">
      <div class="name">IN</div>
      <div class="wert">{{werte.in}}</div>
    </div>
    <div class="attribute">
      <div class="name">CH</div>
      <div class="wert">{{werte.ch}}</div>
    </div>
    <div class="attribute">
      <div class="name">FF</div>
      <div class="wert">{{werte.ff}}</div>
    </div>
    <div class="attribute">
      <div class="name">GE</div>
      <div class="wert">{{werte.ge}}</div>
    </div>
    <div class="attribute">
      <div class="name">KO</div>
      <div class="wert">{{werte.ko}}</div>
    </div>
    <div class="attribute">
      <div class="name">KK</div>
      <div class="wert">{{werte.kk}}</div>
    </div>
  </div>

</div>
