<div class="verticalStart">
  <div class="horizontalCenter">
    <canvas id="stage" width="400" height="400"
            (touchstart)="onTouchStart($event)"
            (touchmove)="onTouchMove($event)"
            (touchend)="onTouchEnd($event)"
            (wheel)="onWheel($event)"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp($event)"
            (dragover)="allowDrop($event)"
            (drop)="onDrop($event)"></canvas>
  </div>
  <div class="horizontalStart" style="background: white">
    <div class="portrait" *ngFor="let fighter of fighters"
         [style.background-image]="'url(' + fighter.token + ')'"
         draggable="true"
         (dragstart)="onDragStart($event, fighter)"></div>
  </div>
</div>
<div class="iconLoader">
  <img id="icon_bow" src="assets/images/icons/bow.png">
  <img id="icon_sword" src="assets/images/icons/upg_sword.png">
  <img id="icon_map" src="assets/images/icons/map.png">
  <img id="icon_x" src="assets/images/icons/x.png">
  <img id="icon_null" src="assets/images/icons/placeholder.png">
  <img id="token_fianna" src="assets/images/test/tokens/fianna.png">
  <img id="token_balrog" src="assets/images/test/tokens/balrog.png">
  <img id="token_adrian" src="assets/images/test/tokens/adrian.png">
  <img id="portrait_fianna" src="assets/images/test/portraits/fianna.jpg">
  <img id="portrait_balrog" src="assets/images/test/portraits/balrog.jpg">
  <img id="portrait_adrian" src="assets/images/test/portraits/adrian.jpg">
</div>
