<div class="verticalStart">
  stage mode: {{stage.mode}}, stage event type: {{stage.eventType}}, mode name: {{stage.modeName}}
  <div class="horizontalCenter">
    <canvas id="stage" width="400" height="400"
            (touchstart)="onTouchStart($event)"
            (touchmove)="onTouch($event)"
            (touchend)="onTouchEnd($event)"
            (wheel)="onWheel($event)"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouse($event)"
            (mouseup)="onMouseUp($event)"
            (dragover)="allowDrop($event)"
            (drop)="onDrop($event)"></canvas>
            <!--
            (touchstart)="onTouchStart($event)"
            (touchmove)="onTouchMove($event)"
            (touchend)="onTouchEnd($event)"
            (wheel)="onWheel($event)"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp($event)"
            (dragover)="allowDrop($event)"
            (drop)="onDrop($event)"></canvas>
            -->
  </div>

  <div class="horizontalStart" style="background: white">
    <div class="portrait" *ngFor="let fighter of fighters"
         [style.background-image]="'url(' + fighter.token + ')'"
         draggable="true"
         (dragstart)="onDragStart($event, fighter)"></div>
  </div>
  <div *ngIf="stage.objects.length > 0 && stage.objects[0].fighter != null">

    {{stage.objects[0]!.fighter!.name}}: {{stage.objects[0]!.position}}
    <label *ngIf="stage.entityToManipuilate != null && stage.entityToManipuilate.fighter != null">
      rotate: {{stage.entityToManipuilate.fighter.name}}
    </label>
  </div>
</div>
<div class="iconLoader">
  <img id="icon_bow" src="assets/images/icons/bow.png">
  <img id="icon_sword" src="assets/images/icons/upg_sword.png">
  <img id="icon_map" src="assets/images/icons/map.png">
  <img id="icon_x" src="assets/images/icons/x.png">
  <img id="icon_rotate" src="assets/images/icons/rotate.png">
  <img id="icon_translate" src="assets/images/icons/translate.png">
  <img id="icon_cross" src="assets/images/icons/cross-mark.png">
  <img id="icon_null" src="assets/images/icons/placeholder.png">
</div>
